
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>images</title>
    <link rel="stylesheet" href="../../static/imagescss.css">
</head>
<body><div class="container">
    <div class="row">
        <div class="nav">
            <img src="../../media/images/Uzcarnewws.jpg" alt="FOTO">
            <ul class="ulnav">
                <li>
                    <a class="class" href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a class="class" href="{% url 'news' %}">News</a>
                </li>
                <li>
                    <a class="class" href="{% url 'images' %}">Images</a>
                </li>
                <li>
                    <a class="class" href="{% url 'contact' %}">Contacts</a>
                </li>
            </ul>
        </div>

    </div>
<div class="img">
    <img src="../../media/images/2021_kia_k5_gt_line_5k_2-HD.jpg "width="1350" alt="">
    <img src="../../media/images/12731-2021-kia-sorento.webp" width="1350" alt="">
    <img src="../../media/images/2020-Kia-Telluride-in-Dark-Moss_o.png"alt="">
    <img src="../../media/images/2021 tahoe.jpg" width="1350" alt="">
    <img src="../../media/images/2021+caddy.jpg" width="1350" alt="">
    <img src="../../media/images/2021+tucson.jpg" width="1350" alt="">
    <img src="../../media/images/2021-Kia-K5-45.jpg" width="1350" alt="">
    <img src="../../media/images/20212+octavia.jpg" width="1350" alt="">
    <img src="../../media/images/20212+tahoe.jpg" width="1000" alt="">
</div>








<div class="finish">
    <div class="dev">
        <p class="develop">Developer: <span>Jasurbek Usmonaliyev</span></p>
        <p class="email">jasurbek.u.u@mail.ru</p>
        <div class="ahref">
            <a href="#">Instagram</a> <br>
            <a href="#">Telegram</a> <br>
            <a href="#">You tube</a> <br>
        </div>

    </div>
</div>


</div>
</body>
</html>