
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>seltos</title>
    <link rel="stylesheet" href="../../static/seltoscss.css">
</head>
<body>
<div class="video">
    <video class="play"  loop muted autoplay playsinline preload="" >
        <source src="../../Pro1/Pro 1.4 KIA/Pro_1.4.2_seltos/video/Keyinchalik nima bolishidan qatiy nazar - Kia seltos.mp4">
    </video>
</div>
<div class="bg"></div>
<div class="container">
    <div class="row">
        <div class="nav">
            <img src="../../media/images/Uzcarnewws.jpg" alt="FOTO">
            <ul class="ulnav">
                <li>
                    <a class="class" href="{% url 'index' %}">Home</a>
                </li>
                <li>
                    <a class="class" href="{% url 'news' %}">News</a>
                </li>
                <li>
                    <a class="class" href="{% url 'images' %}">Images</a>
                </li>
                <li>
                    <a class="class" href="{% url 'contact' %}">Contacts</a>
                </li>
            </ul>
        </div>

    </div>
</div>
<div>
    <div class="about"><a class="ak5" href="../../index">Seltos</a> <span class="price">| from 249 900 000</span></div>
</div>
<div class="engine50">
    <img class="engine51" src="../../../../media/images/enginew.png"  alt="">
    <p class="engineinfo">
        2.0 MPI <br>
        149 h.p.
    </p>
    <img class="engine52" src="../../media/images/vvt.png"  alt="">
    <p class="engineinfo2">
        Valuable valve <br> timing
    </p>
    <img class="engine53" src="../../media/images/speed2.png"  alt="">
    <p class="engineinfo3">
        9.6 c <br> 0-100km/h
    </p>
</div>
<!--------------------------------------Equipments----------------->

<div class="variants">
    <div class="textvar">
        Equipments
    </div>
    <div class="block5">
        <div class="box1">
            <div class="box101">
                <div class="paz1">
                    <span class="equip">Luxe</span>
                    <br>
                    <span class="priceu">from 229 900 000 sums</span>
                </div>
            </div>
            <div class="engine">
                Engine and Transmisson
            </div>
            <div class="engine1">
                2.0 MPI / 149 hp / Fuel / Vvt / FWD
                <br>
            </div>
            <div class="engine2">Main options</div>
            <div class="mainop">
                -Electric and heated rear winwows <br>
                -17' Wheels 215/55 R17 <br>
                -Gray colored interior <br>
                -Front airbags <br>
                -Multimedia with 8" display <br> Android Auto and Apple CarPlay
                -Auto lighting
                -Adjustable central armrest
            </div>
        </div>
        <div class="box1">
            <div class="box101">
                <div class="paz1">
                    <span class="equip">Style</span>
                    <br>
                    <span class="priceu">from 252 900 000 sums</span>
                </div>
            </div>
            <div class="engine">
                Engine and Transmisson
            </div>
            <div class="engine1">
                2.0 MPI / 149 hp / Fuel / Vvt /  FWD
                <br>
            </div>
            <div class="engine2">Main options</div>
            <div class="mainop">
                -17' Wheels 215/55 R17 <br>
                -Heating front seats <br>
                -Black royal colored interior details <br>
                -Bluetooth<br>
                -Adjustable central armrest <br>


            </div>
        </div>
        <div class="box1">
            <div class="box101">
                <div class="paz1">
                    <span class="equip">Prestige</span>
                    <br>
                    <span class="priceu">from 279 900 000 sums</span>
                </div>
            </div>
            <div class="engine">
                Engine and Transmisson
            </div>
            <div class="engine1">
                2.5 MPI / 149 hp / Fuel / AT / FWD
                <br>
            </div>
            <div class="engine2">Main options</div>
            <div class="mainop">
                -Heated front seats <br>
                -Heated rear seats <br>
                -Led lights <br>
                -Led interior lighting <br>
                -Extra USB ports <br>
                -Adjustable central armrest<br>



            </div>
        </div>
    </div>
    <form method="get" action="../files/Kia_Seltos.pdf" target="_blank">
        <button type="submit" class="button1" href="" >Brochure</button>
    </form>
</div>
<!-------------------------------------------look--------------------------->
<div class="look">
    <div class="seltos">
        Overview
    </div>
    <img class="img" src="../../media/images/seltos1.jpg" alt="">
    <div class="look1">
        Kia knows SUVs—just look at the company's latest Soul subcompact or the all-new
        mid-size Telluride—and it's adding the rugged-looking Seltos to its lineup for 2021.
        Based on the same platform as the excellent Hyundai Kona, the Seltos offers sharp
        handling similar to that SUV but pairs it with a taller ride height, a roomier cabin,
        and even more technology. Two engines are offered—a 2.0-liter four-cylinder and
        a turbocharged 1.6-liter four-cylinder—as is either front- or all-wheel drive.
        A host of driver-assistance features are optional, including an adaptive cruise
        control system with lane-centering assist and automated emergency braking with
        pedestrian detection. Infotainment, too, is cutting edge with a large 10.3-inch
        touchscreen gracing well-equipped examples. From what we can tell so far, Kia has
        yet another fantastic SUV on its hands.
           Kia offers two different four-cylinder engines in the Seltos: a 2.0-liter that 
        makes 146 horsepower or a turbocharged 1.6-liter that pumps out 175. We were able to
        sample the Seltos with the turbocharged 1.6-liter in Korea and found its power to 
        be more than adequate. While the base engine is mated to a continuously variable
        automatic transmission (CVT), the turbo comes with a seven-speed automatic. All-wheel
        drive is optional with both engines. The Seltos offers a firm but mostly smooth ride
        and handling is sharp for an SUV—it's far more entertaining and composed than rivals
        such as the Jeep Compass and Mitsubishi Outlander Sport.
    </div>
    <img class="img" src="../../media/images/KIA-Seltos-2020-Interior.jpg" alt="">
    <div class="look1">
        Inside, the Seltos offers noticeably more space for people and cargo than the
        Kona and the materials used throughout the cabin are well-chosen and refined
        enough to seem right at home in the showroom next to the brand's excellent
        Telluride SUV. Interior ambient lighting is standard on the upscale SX model and
        can be set to pulse along with the music like the system Kia offers in the smaller
        Soul SUV. We haven't had a Seltos for testing, but during our test drive in Korea,
        the cargo area easily swallowed our suitcases, backpacks, and photo bag.

    </div>
    <div class="kmu">
        <div class="official">
            For more information: <a href="https://kia.uz/models/seltos/options" target="_blank"> https://kia-motors.uz/seltos/</a> <span ><img class="spanlogo" src="../images/kia-symbol-2560x1440.png" alt=""></span>
        </div>
    </div>

</div>
<!-----------------------------------finish------------------------------>
<div class="finish">
    <div class="dev">
        <p class="develop">Developer: <span>Jasurbek Usmonaliyev</span></p>
        <p class="email">jasurbek.u.u@mail.ru</p>
        <div class="ahref">
            <a href="#">Instagram</a> <br>
            <a href="#">Telegram</a> <br>
            <a href="#">You tube</a> <br>
        </div>

    </div>
</div> 


</body>
</html>
